@model ProductToCreationDTO
@{
    ViewData["Title"] = "Create Product";
}

<h4>Create Product</h4>

<form asp-antiforgery="true" asp-action="Create" asp-controller="Products">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Name"></label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="DefaultQuantity"></label><br />
            <input type="number" asp-for="DefaultQuantity" />
            <span asp-validation-for="DefaultQuantity"></span>
        </div>

        <div>
            <input type="submit" value="Create" />
        </div>
    </div>
</form>

<a asp-action="Index" asp-controller="Products">Go back</a>