@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Все функции рабоатют. Ниже ссылка на вызов хранимой процедуры.
       Сделал все доп. задания, кроме деплоя дб на azure, т.к. я там немного забанен за неуплату(.
    </p>
</div>

<a asp-action="UpdateProducts" asp-controller="Fridges">Update Fridges</a>
