@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Все функции рабоатют, кроме удаления холодильника и метода из пункта 6(сама процедура в базе данных уже есть),
        в обоих случаях проблема с ef, 
        ругается на одновременное отслеживание одного объкта, хотя отслеживание везде отключено, так что я пока не нашёл как это пофиксить.
    Единственная идея - завернуть все действия над бд в транзакции и выставить уровень изоляции</p>
</div>
